    <link rel="stylesheet" href="media/mobileextra.css" media="(min-height: 0px)"/>
    <link rel="stylesheet" href="media/mobilsmal.css" media="(min-height: 300px)"/>
    <link rel="stylesheet" href="media/mobile.css" media="(min-height: 700px)"/>
    <link rel="stylesheet" href="media/mobileover.css" media="(min-height:701px)"/>
    <link rel="stylesheet" href="media/mobilelarge.css" media="(min-height: 1500px)"/>

    <link rel="stylesheet" href="media/desktopsmall.css" media="(min-width: 769px) and (max-width: 1024px)"/>
    <link rel="stylesheet" href="media/desktopmedia.css" media="(min-width: 1025px) and (max-width: 1200px)"/>
    <link rel="stylesheet" href="media/desktoplarge.css" media="(min-width: 1201px) and (max-width: 1600px)"/>
    <link rel="stylesheet" href="media/desktopextra.css" media="(min-width: 1601px) and (max-width: 4000px)"/>


<header>
      <div id="logo">
        <img src="img/asn-logo.png">
        <h3><b>ASN SOFWARE</b></h3>
      </div>
      <nav id="menu">
        <ul>
          <b><li><a href="#home">Home</a></li></a></b>
          <b><li><a href="#produtos">Produtos</a></li></b></a>
          <b><li><a href="#sobre">Sobre</a></li></b></a>
          <b><li><a href="#suporte">Contato</a></li></b></a>
          <b><li><a href="#segmentos">Segmentos</a></li></a></b>
        </ul>
      </nav>
      <div id="button-nav">
        <a href="https://api.whatsapp.com/send?phone=5575988368374&text=Ol%C3%A1%2C%20quero%20saber%20mais%20sobre%20o%20seu%20sistema"><button type="button" class="btn-fale-conosco">Fale Conosco</button></a>
      </div>
    </header> 

    <div id="root">
      <div id="home-back"></div>
      <section id="home">
        <div>
          <h1>SISTEMA PARA GESTÂO EMPRESARIAL</h1>
          <p>O software de gestão da ASN foi pensado para simplificar
            e dinamizar suas tarefas, por isso seu uso é tão prático.
            Entre em contato conosco e conheça melhor esse mecanismo.</p>
            <button>Fale Conosco</button>
        </div>
        <div style="text-align: center;">
          <img src="img/desktop2.png">
        </div>
      </section>
      <div class="title-sections about" id="sobre"><h1>Sobre</h1></div>
      <section id="csobre">
          <div>
            <h1>Tecnologia de ponta para uma gestão mais eficiente e profissional</h1>
            <p>A tecnologia é a maior aliada de qualquer empreendedor, sobretudo aquelas destinadas à simplificação e automação de atividades manuais, como o mecanismo de gestão comercial da ASN SOFTWARE.

              Com nosso software você nunca mais terá que lidar com processos manuais estressantes nem precisará se preocupar com falha humana, pois nosso sistema conta com o que há de mais moderno no mercado de software de gestão. 
              
              Tudo para tornar a administração do seu negócio mais simples, eficiente, e mais produtiva. Incorpore essa tecnologia ao seu negócio.
              </p>
          </div>
          <div style="text-align: center;">
            <img src="img/alan.png">
          </div>
      </section>
      <div class="title-sections"><h1>Vantagens</h1></div>
      <section id="vantagens">
        <div class="vantagem item1">
          <h1>Por que incorporar um mecanismo de gestão no seu negócio?</h1>
          <p>A incorporação de um software de gestão ao seu negócio lhe terá inúmeros benefícios, veja alguns exemplos:

            • Mais controle financeiro;
            • Mais controle de estoque;
            • Automatização de processos manuais;
            • Segurança no armazenamento de dados e informações importantes.
            </p>
          <button>Saiba Mais</button>
        </div>
        <div class="vantagem itempic1" style="text-align: left;">
          <img src="img/item1about.png">
        </div>
        <div class="vantagem item2">
          <h1>Emissão de nota fiscal eletrônica nunca foi tão fácil</h1>
          <p>Você sabia que a emissão de NFe (Nota Fiscal Eletrônica) é obrigatória? A emissão desse
            documento não só garante a devida regularidade
            das suas operações comerciais, como protege o
            seu negócio de possíveis complicações legais.
            Incorporando o mecanismo de gestão da ASN sua emissão de NF-e (Nota Fiscal Eletrônica) contará com toda praticidade e agilidade que apenas o nosso software oferece.</p>
          <button>Saiba mais</button>
        </div>
        <div class="vantagem itempic2" style="text-align: right;">
          <img src="img/item2about.png">
        </div>
        <div class="vantagem item3">
          <h1>O impacto de um software de gestão no seu négocio</h1>
          <p>Um software de gestão é muito mais que um programa de
            computador, ele é um auxiliar moderno e multifuncional
            disponível às suas necessidades durante 100% do tempo.
            Além de agilizar tarefas que, se realizadas manualmente,
            lhe tomaria muito tempo, um software de gestão
            potencializa seus resultados, uma vez que suas
            funcionalidades vão muito além de meramente arquivar
            informações.
            Se você ainda não conhece o software da ASN, teremos o
            prazer de apresentá-lo a você. Garantimos que depois de
            conhecê-lo, você não cogitará outro.</p>
          <button>Saiba mais</button>
        </div>
        <div class="vantagem itempic3" style="text-align: left;">
          <img src="img/item3about.png">
        </div>
      </section>
      <div class="title-sections" id="segmentos"><h1>Segmentos</h1></div>
      <section id="csegmentos">
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/lanchonete.png">
          </div>
          <h3>Restaurante/<br>lanchonete</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/acougue.png">
          </div>
          <h3>Açougues</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/peixaria.png">
          </div>
          <h3>Peixarias</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/confeccoes.png">
          </div>
          <h3>Confecções</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/construcao.png">
          </div>
          <h3>Material p/<br>Construção</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/oficina.png">
          </div>
          <h3>Oficinas</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/padaria.png">
          </div>
          <h3>Padarias</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/hotfruit.png">
          </div>
          <h3>Hortfruits</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/variedade.png">
          </div>
          <h3>Lojas de <br>Variedades</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/industria.png">
          </div>
          <h3>Industrias</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/bombom.png">
          </div>
          <h3>Bombonieres</h3>
        </div>
        <div class="segmentos-item">
          <div class="segmentos-icons">
            <img src="img/icons/mais.png">
          </div>
          <h3>Entre outros</h3>
        </div>

      </section>
      <div class="title-sections" id="produtos" style="background-color: var(--corPadrao); color: white;"><h1>Sistema de Gerenciamento Integrado</h1></div>
      <section id="csgi">
        <div id="carousel">
          <div class="carousel-item">
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/balanco.png">
              </div>
              <h3>Balanço</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/fluxo.png">
              </div>
              <h3>Fluxo de<br> caixa</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/ordem.png">
              </div>
              <h3>Ordem de <br>serviço</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/dashboard.png">
              </div>
              <h3>Dashboard<br>Financeiro</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/entrega.png">
              </div>
              <h3>Lista de<br>Compras</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/caixa.png">
              </div>
              <h3>Fechamento de<br>caixa</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/usuarios.png">
              </div>
              <h3>Controle de <br> usuario</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/financeiro.png">
              </div>
              <h3>Previsão<br>Financeira</h3>
            </div>
          </div>
          <div class="carousel-item">
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/receber.png">
              </div>
              <h3>Contas a <br> receber</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/marcapreco.png">
              </div>
              <h3>Marcação de<br> preço</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/cotacao.png">
              </div>
              <h3>Cotação</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/pagar.png">
              </div>
              <h3>Contas a<br> pagar</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/entrega.png">
              </div>
              <h3>Ordem de<br>Entrega</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/corrente.png">
              </div>
              <h3>Conta<br>Corrente</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/inventario.png">
              </div>
              <h3>Inventario</h3>
            </div>
            <div class="sgi-item">
              <div class="sgi-icon">
                <img src="img/icons/sgi/romaneio.png">
              </div>
              <h3>Romaneio</h3>
            </div>
          </div>
        </div>
      </section>
      <div class="title-sections"><h1>Mobilidade</h1></div>
      <section id="mobilidade">
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/forca.png">
          </div>
          <h3>Força de <br>venda</h3>
        </div>
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/comanda.png">
          </div>
          <h3>Comanda <br>eletrônica
          </h3>
        </div>
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/relatorio.png">
          </div>
          <h3>Relatórios</h3>
        </div>
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/dashboard.png">
          </div>
          <h3>Dashboard</h3>
        </div>
      </section>
      <div class="title-sections"><h1>Extra</h1></div>
      <section id="extra">
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/balanca.png">
          </div>
          <h3>Carga para <br>Balanças
          </h3>
        </div>
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/preco.png">
          </div>
          <h3>Carga busca <br>preço
          </h3>
        </div>
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/checkout.png">
          </div>
          <h3>Balança <br>Checkout
          </h3>
        </div>
        <div>
          <div class="m-e-icon">
            <img src="img/icons/mob/dados.png">
          </div>
          <h3>Coletor de <br>dados
          </h3>
        </div>
      </section>
      <div class="title-sections"><h1>Notas Fiscais</h1></div>
      <section id="notas-fiscais">
        <div class="nota-item1">
          <h1>NFC-e</h1>
          <p>O NFC-e simplifica a vida, dispensando-o de obrigações como Leitura X, redução Z, comunicação de ocorrências, lacres, Cessação, Revalidação e Mapa Resumo. Por fim, há redução do uso de papel, uma vez que os arquivos que devem ser armazenados são os digitais.
          </p>
        </div>
        <div class="nota-icon1 nota-icons">
          <img src="img/nfe.png">
        </div>
        <div class="nota-item2">
          <h1>NF-e</h1>
          <p>A Nota Fiscal eletrônica é emitida e armazenada de maneira eletrônica, serve para oficializar as operações de circulação de mercadorias. A NFe é um documento que ajudar na tomada de decisões gerenciais, contendo informações precisas sobre seus clientes e fornecedores.</p>
        </div>
        <div class="nota-icon2 nota-icons">
          <img src="img/nfe.png">
        </div>
        <div class="nota-item3">
          <h1>SGI</h1>
          <p>Sistema gerenciador interno controla sua empresa de maneira fácil e objetiva, cadastros, controle de contas a pagar e receber, fechamento de caixa, controle de vendas, ordem de entrega, ordem de serviço e diversas outras funcionalidades.
          </p>
        </div>
        <div class="nota-icon3 nota-icons">
          <img src="img/nfe.png">
        </div>
      </section>
      <div class="title-sections" id="suporte"><h1>Suporte</h1></div>
      <section id="csuporte">
        <div class="container1">
          <h1>CONFIRA OS HORÁRIOS DE ATENDIMENTO DO SUPORTE ASN
          </h1>
        </div>
        <div class="container2">
          <h2 style="color: var(--corPadrao);">ATENDIMENTO PRESENCIA E REMOTO</h2>
          <p>De seg a sex</p>
          <h3>das 07hs até 19hs</h3>
          <p>Aos sábados:</p>
          <h3>das 07 às 13hrs</h3>
        </div>
        <div class="container3">
          <h2 style="color: var(--corPadrao);">SOMENTE REMOTO</h2>
          <p>Aos domingos:</p>
          <h3>das 8hs as 12hs</h3>
          <p>Aos sábados:</p>
          <h3>das 13hs as 17hs
          </h3>
        </div>
        <div class="container4" style="text-align: center; color: var(--grafite); font-weight: 700;">
          <p>Somente ligações aos sábados e domingos não atenderemos pelo Whatsapp nesse horário
          </p>
        </div>
      </section>
      <div class="title-sections"><h1>Seja Parceiro</h1></div>
      <section id="seja-parceiro">
        <div id="formulario" >
          <h1>Entre em contato</h1>
          <p>Preencha o formulário e mande uma mensagem entraremos em contato o mais rápido possível</p>

          <form class="loguin" action="/add" method="POST">
            <div class="loguin-field">
              <input type="name" placeholder="Nome" name="nome">
            </div>
            <div class="loguin-field">
              <input type="email" placeholder="Email" name="email">
            </div>
            <div class="loguin-field">
              <input type="tel" placeholder="Telefone" name="telefone">
            </div>
            <div class="loguin-field">
              <input type="text" placeholder="Mensagem" name="mensagem">
            </div>
            <div class="loguin-button">
              <input type="submit">
            </div>
          </form>
        </div>    
        <div id="maps">
          <img src="img/maps.png">
          <div id="maps-hover">
            <div><h2><a href="https://url.gratis/tad8Kv">Ver no maps</a> <i class="fa-solid fa-location-dot"></i></h2></div>
          </div>
        </div>          
      </section>
      <footer>
        <img src="img/asn-logo.png">
        <h1>ASN SOFTWARE</h1>
        <nav >
          <ul>
            <b><li><a href="#home">Home</a></li></a></b>
            <b><li><a href="#produtos">Produtos</a></li></b></a>
            <b><li><a href="#sobre">Sobre</a></li></b></a>
            <b><li><a href="#suporte">Contato</a></li></b></a>
            <b><li><a href="#segmentos">Seguimentos</a></li></a></b>
          </ul>
        </nav>
        <div id="redes-sociais">
          <div><i class="fa-brands fa-whatsapp"></i></div>
          <div><i class="fa-brands fa-facebook-f"></i></div>
          <div><i class="fa-brands fa-instagram"></i></div>
        </div>
        <h3>alan@asnsoftware.com.br | + 75 3631 - 6250 | 75 98836-8374</h3>
        <h3>© 2019 Copyright: AsnSoftware</h3>
      </footer>
    </div>