:root{
    /*HEIGHTS*/
    --headerHeight: 8%;
    --homeHeight: 100%;
    --sobreHeight: 100%;
    --produtosHeight: 100%;
    --segmentosHeight: 100%;
    --suportHeight: 100%;
    --footerHeight: 100%;
    --containerHeight: 90%;
    --containerTop: 10%;

    /*Top*/
    --homeTop: 8%;
    --sobreTop: 200%;
    --produtosTop: 300%;
    --segmentosTop: 400%;
    --suportTop: 500%;
    --footerTop: 600%;
    --headerTop: 700%;
}


header{
    position: fixed;
    width: 100%;
    height: var(--headerHeight);
    background-color: #F59D0F;
    margin: 0;
    padding: 0;
    z-index: 1;
    border-bottom: 3px solid white;
}

#home{
    position: absolute;
    top: var(--homeTop);
    left: 0%;
    width: 100%;
    height: var(--heigthHome);
    background-color: var(--colorPrincipal);
    float: left;
    border-radius: 0% 0% 50% 50%;
    z-index: 0;
}


#sobre{
    position: absolute;
    top: var(--sobreTop);
    left: 0%;
    width: 100%;
    height: var(--sobreHeight);
    background-color: white;
    float: left;
}

#segmentos{
    position: relative;
    width: 100%;
    height: var(--segmentosHeight);
    background-color: white;
    float: left;
    margin-top: var(--segmentosMargin);
    overflow: hidden;
    display: none;
}

#produtos{
    position: relative;
    width: 100%;
    height: var(--produtosHeight);
    background-color: white;
    float: left;
    margin-bottom: 2%;
    display: none;
}

#suporte{
    position: relative;
    width: 100%;
    height: var(--suportHeight);
    background-color: white;
    float: left;
    margin-bottom: 8%;
    margin-top: var(--suportMargin);
    display: none;
}

footer{
    position: relative;
    width: 100%;
    height: var(--footerHeight);
    background-color: #012333;
    float: left;
    margin-top: 10%;
    display: none;
}